@model List<AudioEmotion>

<h2>Sad Songs</h2>

<script>var i;

    function play(i) {
        var audio = document.getElementById(i);
        audio.play();
    }
    function pause(i) {
        var audio = document.getElementById(i);
        audio.pause();
    }</script>

<table class="table">
    <tr>
        <th>Rank</th>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Rating</th>
    </tr>


    @for (int i = 0; i < Model.Count(); i++)
    {
        var rank = i + 1;
        <tr>
            <td>@rank</td>
            <td>
                <input type="button" value=&#9658 onclick="play(@i)">
                <audio id=@i src=@Model[i].preview></audio>
            </td>
            <td>
                <input type="button" value=&#10074;&#10074; onclick="pause(@i)">
                <audio id=@i src=@Model[i].preview></audio>
            </td>
            <td>@Model[i].songName</td>
            <td>@Model[i].artistName</td>
            <td>@Model[i].albumName</td>
            <td>@Model[i].emotionValue</td>
        </tr>

    }
</table>
