@model List<AudioEmotion>

<h2>Sad Songs</h2>

<table class="table">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Rating</th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
        var rank = i + 1;
        <tr>
            <td>@rank</td>
            <td>@Model[i].songName</td>
            <td>@Model[i].artistName</td>
            <td>@Model[i].albumName</td>
            <td>@Model[i].emotionValue</td>
        </tr>

    }
</table>